
.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  grid-template-rows: repeat(6, 1fr);   
  height: 100vh;
  width: 100vw;
  gap: 5px;
}

.workexperience {
  grid-row: 1/5;
  grid-column: 1/3;
  border: 2px solid black;
  background-color: #F08A5D;

}
.projects {
  grid-row: 1/3;
  grid-column: 3/5;
  border: 2px solid black;
  background-color: #F5F0CD;
  display: flex; 
  justify-content: center; 
  align-items: center;
  overflow: hidden; 

}
.education {
  grid-row: 1 / 3;
  grid-column: 5 / 7;
  border: 1px solid black;
  background-color: #81BFDA;
  display: flex; 
  justify-content: center;
  align-items: center; /* Center vertically */
  overflow: hidden; /* Prevent overflow */
}
.education svg {
  max-width: 100%; /* Limit the width to the parent */
  max-height: 100%; /* Limit the height to the parent */
  object-fit: contain; /* Ensure it fits while maintaining aspect ratio */
}
.name {
  grid-column: 3/6;
  grid-row: 3/5;
  border: 2px solid black;
  background-color: #faf47a;
}
.contactme {
  grid-row: 3/6;
  grid-column: span 1;
  border: 2px solid black;
  background-color: #F5F0CD;

}
.resume {
  grid-row: 5/7;
  grid-column: 1/2;
  border: 2px solid black;
  background-color: #F5F0CD;

}
.socialmedia {
  grid-row: 5/7;
  grid-column: span 4;
  border: 2px solid black;
  background-color: #81BFDA;
  color:#f4a261
  /* background-color: #81BFDA; */


}
.extra {
  grid-column: span 1;
  border: 2px solid black;
  background-color: #F08A5D;

}

/* Resume */
#eGNsHDgmMvZ5 {
  animation: eGNsHDgmMvZ5_s_do 3000ms linear infinite normal forwards;
}
@keyframes eGNsHDgmMvZ5_s_do {
  0% {
    stroke-dashoffset: 115;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  46.666667% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
#eGNsHDgmMvZ6 {
  animation: eGNsHDgmMvZ6_s_do 3000ms linear infinite normal forwards;
}
@keyframes eGNsHDgmMvZ6_s_do {
  0% {
    stroke-dashoffset: 115;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  53.333333% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
#eGNsHDgmMvZ7 {
  animation: eGNsHDgmMvZ7_s_do 3000ms linear infinite normal forwards;
}
@keyframes eGNsHDgmMvZ7_s_do {
  0% {
    stroke-dashoffset: 115;
  }
  63.333333% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
#eGNsHDgmMvZ8 {
  animation: eGNsHDgmMvZ8_s_do 3000ms linear infinite normal forwards;
}
@keyframes eGNsHDgmMvZ8_s_do {
  0% {
    stroke-dashoffset: 115;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  75% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
#eGNsHDgmMvZ9 {
  animation: eGNsHDgmMvZ9_s_do 3000ms linear infinite normal forwards;
}
@keyframes eGNsHDgmMvZ9_s_do {
  0% {
    stroke-dashoffset: 115;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  86.666667% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
#eGNsHDgmMvZ10_ts {
  animation: eGNsHDgmMvZ10_ts__ts 3000ms linear infinite normal forwards;
}
@keyframes eGNsHDgmMvZ10_ts__ts {
  0% {
    transform: translate(114.521299px, 91.655488px) rotate(-15.268073deg)
      scale(0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  26.666667% {
    transform: translate(114.521299px, 91.655488px) rotate(-15.268073deg)
      scale(1, 1);
  }
  100% {
    transform: translate(114.521299px, 91.655488px) rotate(-15.268073deg)
      scale(1, 1);
  }
}
/* BookMark */
#eGNsHDgmMvZ14 {
  animation: eGNsHDgmMvZ14__m 3000ms linear infinite normal forwards;
}
@keyframes eGNsHDgmMvZ14__m {
  0% {
    d: path(
      "M46.849999,16.82L36.690447,18.684246L28.077349,17.052517L26.85,16.82L46.85,16.82L46.849999,16.82"
    );
  }
  20% {
    d: path(
      "M46.85,45.49L36.85,39.160653L26.85,45.49L26.85,16.82L46.85,16.82L46.85,45.49"
    );
  }
  100% {
    d: path(
      "M46.85,45.49L36.85,39.160653L26.85,45.49L26.85,16.82L46.85,16.82L46.85,45.49"
    );
  }
}
#eGNsHDgmMvZ15 {
  animation: eGNsHDgmMvZ15__sz 3000ms linear infinite normal forwards;
}
@keyframes eGNsHDgmMvZ15__sz {
  0% {
    width: 0px;
    height: 10px;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  43.333333% {
    width: 60px;
    height: 10px;
  }
  100% {
    width: 60px;
    height: 10px;
  }
}
#eGNsHDgmMvZ16 {
  animation: eGNsHDgmMvZ16__sz 3000ms linear infinite normal forwards;
}
@keyframes eGNsHDgmMvZ16__sz {
  0% {
    width: 0px;
    height: 10px;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  56.666667% {
    width: 60px;
    height: 10px;
  }
  100% {
    width: 60px;
    height: 10px;
  }
}
#eGNsHDgmMvZ17 {
  animation: eGNsHDgmMvZ17__sz 3000ms linear infinite normal forwards;
}
@keyframes eGNsHDgmMvZ17__sz {
  0% {
    width: 40px;
    height: 0px;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  30% {
    width: 40px;
    height: 40px;
  }
  100% {
    width: 40px;
    height: 40px;
  }
}
#eGNsHDgmMvZ18 {
  animation: eGNsHDgmMvZ18__sz 3000ms linear infinite normal forwards;
}
@keyframes eGNsHDgmMvZ18__sz {
  0% {
    width: 60px;
    height: 0px;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  20% {
    width: 60px;
    height: 40px;
  }
  100% {
    width: 60px;
    height: 40px;
  }
}



/* Project */
#ewEtQUf14pr30_to {
  animation: ewEtQUf14pr30_to__to 3000ms linear infinite normal forwards;
}
@keyframes ewEtQUf14pr30_to__to {
  0% {
    transform: translate(-85.659565px, -89.6748px);
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  50% {
    transform: translate(-85.659565px, -56.944388px);
    animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  100% {
    transform: translate(-85.659565px, -89.6748px);
  }
}
#ewEtQUf14pr31_tr {
  animation: ewEtQUf14pr31_tr__tr 3000ms linear infinite normal forwards;
}
@keyframes ewEtQUf14pr31_tr__tr {
  0% {
    transform: translate(23.292969px, 20.369141px) rotate(0deg);
  }
  50% {
    transform: translate(23.292969px, 20.369141px) rotate(360deg);
  }
  100% {
    transform: translate(23.292969px, 20.369141px) rotate(0deg);
  }
}
#ewEtQUf14pr64 {
  animation: ewEtQUf14pr64__sz 3000ms linear infinite normal forwards;
}
@keyframes ewEtQUf14pr64__sz {
  0% {
    width: 60px;
    height: 0px;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  33.333333% {
    width: 60px;
    height: 60px;
  }
  100% {
    width: 60px;
    height: 60px;
  }
}
#ewEtQUf14pr65 {
  animation: ewEtQUf14pr65__sz 3000ms linear infinite normal forwards;
}
@keyframes ewEtQUf14pr65__sz {
  0% {
    width: 0px;
    height: 10px;
    animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
  }
  33.333333% {
    width: 140px;
    height: 10px;
  }
  100% {
    width: 140px;
    height: 10px;
  }
}
#ewEtQUf14pr66 {
  animation: ewEtQUf14pr66__sz 3000ms linear infinite normal forwards;
}
@keyframes ewEtQUf14pr66__sz {
  0% {
    width: 0px;
    height: 10px;
  }
  60% {
    width: 190px;
    height: 10px;
  }
  80% {
    width: 180px;
    height: 10px;
  }
  100% {
    width: 180px;
    height: 10px;
  }
}
#ewEtQUf14pr67 {
  animation: ewEtQUf14pr67__sz 3000ms linear infinite normal forwards;
}
@keyframes ewEtQUf14pr67__sz {
  0% {
    width: 0px;
    height: 10px;
  }
  80% {
    width: 120px;
    height: 10px;
  }
  100% {
    width: 120px;
    height: 10px;
  }
}
#ewEtQUf14pr68 {
  animation: ewEtQUf14pr68__sz 3000ms linear infinite normal forwards;
}
@keyframes ewEtQUf14pr68__sz {
  0% {
    width: 270px;
    height: 0px;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  46.666667% {
    width: 270px;
    height: 60px;
  }
  100% {
    width: 270px;
    height: 60px;
  }
}
#ewEtQUf14pr69_to {
  animation: ewEtQUf14pr69_to__to 3000ms linear infinite normal forwards;
}
@keyframes ewEtQUf14pr69_to__to {
  0% {
    offset-distance: 0%;
  }
  43.333333% {
    offset-distance: 26.624108%;
  }
  63.333333% {
    offset-distance: 47.8606%;
  }
  83.333333% {
    offset-distance: 76.391757%;
  }
  100% {
    offset-distance: 100%;
  }
}


/* Education */

#eUbxc2KBHAG10_to {
  animation: eUbxc2KBHAG10_to__to 4000ms linear infinite normal forwards;
}
@keyframes eUbxc2KBHAG10_to__to {
  0% {
    transform: translate(562.451659px, 9.317477px);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  50% {
    transform: translate(521.864915px, 9.317414px);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  100% {
    transform: translate(562.451659px, 9.317477px);
  }
}
#eUbxc2KBHAG11_to {
  animation: eUbxc2KBHAG11_to__to 4000ms linear infinite normal forwards;
}
@keyframes eUbxc2KBHAG11_to__to {
  0% {
    transform: translate(778.945551px, 21.607485px);
  }
  57.5% {
    transform: translate(806.864911px, 21.607454px);
  }
  100% {
    transform: translate(778.945551px, 21.607485px);
  }
}
#eUbxc2KBHAG12_to {
  animation: eUbxc2KBHAG12_to__to 4000ms linear infinite normal forwards;
}
@keyframes eUbxc2KBHAG12_to__to {
  0% {
    transform: translate(589.954996px, -52.830984px);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  60% {
    transform: translate(637.781425px, -52.831047px);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  100% {
    transform: translate(589.439707px, -52.830984px);
  }
}
#eUbxc2KBHAG13_to {
  animation: eUbxc2KBHAG13_to__to 4000ms linear infinite normal forwards;
}
@keyframes eUbxc2KBHAG13_to__to {
  0% {
    transform: translate(230.26124px, 42.040123px);
    animation-timing-function: cubic-bezier(0.382302, 0, 0.894646, 0.823595);
  }
  51.5% {
    transform: translate(274.356006px, 42.04008px);
    animation-timing-function: cubic-bezier(0.65076, 0.641038, 1, 1);
  }
  52.5% {
    transform: translate(275.636183px, 42.040079px);
    animation-timing-function: cubic-bezier(0.42, 0, 1, 1);
  }
  100% {
    transform: translate(230.776528px, 42.040123px);
  }
}
#eUbxc2KBHAG18_ts {
  animation: eUbxc2KBHAG18_ts__ts 4000ms linear infinite normal forwards;
}
@keyframes eUbxc2KBHAG18_ts__ts {
  0% {
    transform: translate(227.5px, 169.75px) scale(1, 1);
  }
  52% {
    transform: translate(227.5px, 169.75px) scale(0.5, 0.5);
  }
  100% {
    transform: translate(227.5px, 169.75px) scale(1, 1);
  }
}
