.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: calc(100vh - 10px);
  width: calc(100vw - 10px);
  gap: 25px;
  margin: 5px;
}

.project1 {
  grid-row: 1/4;
  grid-column: 1/3;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards {
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-shadow: 1px 22px 44px rgba(0, 0, 0, 0.19);
  transition: 0.6s;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
}
.card-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.content {
  color: white;
  transition: transform 0.5s ease, opacity 0.5s ease;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  z-index: 2;
}

.projectName {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.text {
  font-size: 14px;
  font-weight: 300;
}

.sinopse {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(38, 37, 37, 0.8);
  color: white;
  padding: 15px;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: 1;
}

.cards:hover .content {
  transform: translateY(50px);
  opacity: 0;
}

.cards:hover .sinopse {
  opacity: 1;
  transform: translateY(0);
}

.cards:not(:hover) .content {
  transform: translateY(0);
  opacity: 1;
}

.cards:not(:hover) .sinopse {
  opacity: 0;
  transform: translateY(50px);
}

.project2 {
  grid-row: 1/3;
  grid-column: span 5;
}

.title {
  grid-row: 3/4 !important;
  grid-column: span 2 !important;
}

.titleContent {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.project3 {
  grid-row: 3/7;
  grid-column: span 3;
}
.project4 {
  grid-row: 4/7;
  grid-column: span 4;
}

.headingText {
  text-transform: uppercase;
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 80px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
